* {
  margin: 0;
  padding: 0;
  font-family: "Barlow", serif;
}
.primary {
  font-family: "Barlow", serif !important;
  font-weight: 100 !important;
}
.secondary {
  font-family: "Fraunces", sans-serif !important;
}
.hamgburger {
  display: none !important;
}
@media screen and (max-width: 600px) {
  .hamgburger {
    display: block !important;
  }
  .navItems {
    display: none !important;
  }
}
#contact {
  background-color: white !important;
  color: black;
  padding: 10px 16px 10px 16px;
  border-radius: 24px !important;
}
#contactMobile {
  background-color: hsl(51, 100%, 49%) !important;
  color: black;
  padding: 10px 16px 10px 16px;
  border-radius: 24px !important;
}

.image-container {
  background-position: center;
  background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
}
.MuiDrawer-paperAnchorTop {
  margin: 80px 20px 0px 20px;
  text-align: center;
  background-color: white;
  border-radius: 4px;
}
.MuiDrawer-modal {
  text-align: center;
}
